#menu_toggle {
  display: none;
}

#menu_toggle:checked + .menu_btn > span {
  transform: rotate(45deg);
}

#menu_toggle:checked + .menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu_toggle:checked + .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
  right: 0;
}

.menu_btn {
  position: relative;
  float: right;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 2;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: flex;
  position: absolute;
  width: 43px;
  height: 2px;
  background-color: $white;
  transition-duration: .25s;
}

.menu_btn > span {
  content: '';
  top: 22px;
}

.menu_btn > span::before {
  content: '';
  top: -11px;
}
.menu_btn > span::after {
  content: '';
  top: 11px;
}
.menu_box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #18171C;
  transition-duration: .25s;
  z-index: 1;
}
.menu_item {
  display: block;
  cursor: pointer;
  text-align: center;
  padding-top: 28px;
  color: $white;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  transition-duration: .25s;
}

.menu_item:hover{
  text-decoration: underline;
}