#menu_toggle {
  display: none;
}

#menu_toggle:checked + .menu_btn > span {
  transform: rotate(45deg);
}

#menu_toggle:checked + .menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu_toggle:checked + .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
  right: 0;
}

.menu_btn {
  position: relative;
  float: right;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 2;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: flex;
  position: absolute;
  width: 43px;
  height: 2px;
  background-color: $white;
  transition-duration: .25s;
}

.menu_btn > span {
  content: '';
  top: 22px;
}

.menu_btn > span::before {
  content: '';
  top: -11px;
}
.menu_btn > span::after {
  content: '';
  top: 11px;
}
.menu_box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100%;
  margin: 0;
  padding: 80px 20px;
  list-style: none;
  background-color: #18171C;
  transition-duration: .25s;
  z-index: 1;
}
.menu_item {
  display: block;
  cursor: pointer;
  padding-top: 18px;
  color: $white;
  font-weight: 700;
  text-decoration: none;
  transition-duration: .25s;
  text-decoration: none;
}

.menu{
  &__title{
    display: block;
    padding-top: 18px;
    font-weight: 700;
  }
  &_box{
    ul{
      list-style: none;
      .menu_item{
        padding-top: 10px;
      }
    }
  }
}

// .menu_item:hover{
//   text-decoration: underline;
// }

@media (min-width: 768px) {
  .menu{
    &_box{
      width: 386px;
      padding: 80px 30px;
      ul{
        .menu_item{
          padding-top: 15px;
        }
      }
    }
    &_item{
      padding-top: 20px;
    }

    &__title{
      padding-top: 20px;
      font-weight: 700;
    }
  }
}

@media (max-width: 320px) {
  .menu_box {
    right: -200%;
  } 
}

@media (hover: hover) {
  .menu{
    &_box{
      
    }

    &_item{
      transition: color 0.5s ease-in-out;
      &:hover{
        color: $primaryHover;
      }
      
    }
  }
}