*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.active {
  color: $primary;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  background-color: $dark;
}

h2{
  margin: 0;
}

.burger_click{
  overflow: hidden;
}


.container {
  max-width: 1440px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
}
.link{
  &-red{
    color: $primary;
    text-decoration: none;
  }
}

.main {
  min-height: calc(100vh - 513px);
  .container {
    background-color: $white;
  }
}

.title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: .54px;
  line-height: normal;
  text-align: center;
}

.logo {


}

.btn {
  font-size: 16px;
  font-weight: 700;
  background-color: $primary;
  color: $white;
  padding: 10px 8px;
  border-radius: 42px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn.disabled{
  opacity: 0.5;

  cursor: default;

  pointer-events: none;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card{
  display: flex;
}

.card_column{
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title-red {
  color: $primary;
}

.highlighting-text{
  color: $highlightingText;
  font-weight: 1000;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-bottom: 18px;
}

.flex-end{
  justify-content: flex-end;
}


// start accordion

.accordion-item {
  overflow: hidden;
  padding-bottom: 18px;
}

.accordion-header {
  cursor: pointer;
  transition: background-color 0.3s;
  padding-bottom: 10px;
  text-decoration: none;
}

.accordion-header.active {
  text-decoration: underline;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  border: 0 solid #522912;
  transition: max-height 0.5s ease-out, padding 0.5s ease, border 0.5s ease-in-out;
}

.accordion-content.active {
  padding: 18px;
  max-height: 500px; /* Достаточно большое значение для контента */
  color: $dark;
  border: 1px solid #522912;

}

.font-highlighted{
  font-family: "Imperial Script", cursive;
  font-size: 24px;
  letter-spacing: 0.72px;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.col{

}

p{
  margin: 0;
}

.indent{
  &-basic{
    margin-bottom: 18px;
  }
  &-big{
    margin-bottom: 40px;
  }
}

.ul{
  &-basic{
    margin: 0;
    padding-bottom: 30px;
  }
}



// end accordion


@media (hover: hover) {
  .btn {
    transition: background-color 0.5s ease-in-out;
    &:hover {
      background-color: $primaryHover;
    }
  }

  .link{
    &-red{
      transition: color 0.5s ease-in-out;
      &:hover{
        color: $primaryHover; 
      }
      
    }
  }
}

@media (min-width: 768px) {

  body {
    font-size: 18px;
  }

  .title {
    font-size: 40px;
    letter-spacing: 2.4px;
    line-height: 48px;
  }

  .btn {
    min-width: 206px;
    letter-spacing: 0.6px;
    font-weight: 800;
  }

}

@media (min-width: 1024px) {

  .container {
    padding: 40px 50px;
  }

  .btn {
    font-size: 20px;
    padding: 15px 20px;
    letter-spacing: 1.2px;
  }

  .card_column{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .row{
    // display: flex;
    // justify-content: space-between;
    flex-direction: row;
  }

  .indent{
    &-basic{
      margin-bottom: 18px;
    }
    &-big{
      margin-bottom: 70px;
    }
  }



  

}


//768

// 768 - 1024
// 1024 - 1400