.page{

    &-donar{
        .row{
            flex-wrap: wrap;
        }
        .col{
            padding-bottom: 30px;
            &:first-child{

            }
        }

        .wrapper-btn{
            // display: flex;
            // justify-content: space-between;
            // width: 100%;
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 30px;
            flex-wrap: wrap;
        }

        .guide, .criteria{
            padding-bottom: 30px;
        }

        .criteria{
            line-height: 150%;
        }
    }

    &-form{
        .top{
            padding-bottom: 70px;
        }
    }
}

.question-answer{
    .question{
        color: $highlightingText;
        line-height: normal;
        letter-spacing: 1.08px;
        display: flex;
        padding-bottom: 18px;

        .label{
            min-width: 106px;
        }
        .text{

        }
    }

    .answer{
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.08px;
        display: flex;
        padding-bottom: 18px;
        .label{
            min-width: 106px;
        }
        .text{

        }
    }
}

.field__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;

    input{
        border-radius: 5px;
        border: 1px solid #7D0100;
        width: 420px;
        height: 50px;
    }
}




@media (min-width: 768px) {
    .page{

    }
}

@media (min-width: 1024px) {

    .page{
        &-donar{
            .col{
                flex-shrink: 0;
                width: 48%;
                    &:nth-child(2){
                        padding-top: 105px;
                    }
                }

            .guide, .criteria{
                padding-bottom: 70px;
            }
        }

        &-form{
            .row{
                gap: 40px;
            }
            .col{
                &:first-child{
                    flex-shrink: 0;
                    width: 850px;
                }

                .title{
                    text-align: left;
                    padding-bottom: 18px;
                }

            }
        }


    }


}