.about-us{

    .title{
        margin: 0 0 15px 0;
    }
    .cards{
        gap: 40px;
    }

    &__form{
        width: 100%;
        border-radius: 5px;
        outline-style: solid;
        outline-width: 1px;
        flex-shrink: 0;
        padding: 60px 35px;
        &-describe{
            padding-bottom: 60px;
        }
    }

    img{
        width: 260px;
        height: auto;
    }
    
    &__wrapper-btn{
        display: flex;
        justify-content: center;
    }

    &__tel{
        display: flex;
        justify-content: center;
        align-items: center;
        &__phone{
            font-size: 22px;
            letter-spacing: 3px;
            width: 420px;
            height: 40px;
            border-radius: 5px;
            outline-width: 2px;
        }
        ::placeholder{
            color:$primary;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 1.08px;
            padding-left: 15px;
        }
    }

    &__check-policy{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 18px;
        gap: 20px;
    }

    &__checkbox{
        transform: scale(2);
    }
}


@media (min-width: 768px) {

}

@media (max-width: 1024px) {
    .about-us{
        .cards{
            flex-direction: column;
        }
    }
    
}

@media (min-width: 1024px) {

    .about-us{
        &__form{
            width: 650px;
        }
       
    }

}
