.donors {
  .container{
    padding-bottom: 0px;
  }

  .cards{
    flex-wrap: wrap;
  }

  &__wrapper-btn {
    display: flex;
    justify-content: center;
  }

  &__box {
    text-align: center;
  
    picture{
      display: flex;
      align-items: flex-end;
      justify-content: center;


      height: 140px;
    }

    img{
      width: 125px;
    }
  }

  &__wrapper-btn{
    padding-top: 15px;
  }

  &__btn{
    width: 100%;
  }
}


@media (min-width: 768px) {

  .donors{
    &__box{
      picture{
        height: 203px;
      }
      img{
        width: 175px;
      }
    }
  }

}

@media (min-width: 1024px) {

}
