.donors {
  .container{
    padding-bottom: 0px;
  }

  img {
    width: 270px;
    height: 240px;
  }

  &__wrapper-btn {
    display: flex;
    justify-content: center;
  }

  &__box {
    margin-top: 80px;
    text-align: center;
    width: 335px;
    height: 300px;
  }
}
