.important {
  .container{
    padding-bottom: 0px;
  }

  .cards{
    margin-top: 50px;
    flex-direction: column;
    gap: 30px;
  }

  img {
    width: 180px;
    height: 160px;
    object-fit: cover;
  }

  &__line {
    height: 5px;
    width: 210px;
    background: #a80021;
    display: block;
  }

  &__title {
    color: #7D0100;
    font-weight: 1000;
    font-size: 16px;
    line-height: normal;
  }

  &__describe {
    text-align: center;
    font-size: 16px;
    line-height: normal;
  }
}


@media (min-width: 768px) {
  .important{
    .cards{
      flex-direction: row;
    }

        &__title{
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0.72px;
    }

    &__describe{
      font-size: 18px;
      line-height: 23px;
      letter-spacing: 1.08px;
    }
  }
}

@media (min-width: 1024px) {
  .important{

  }
}